/* TEXT */
h1,
h2,
h3 {
  font-family: "Bangers", cursive !important;
  letter-spacing: 2px;
}

.banner-txt h1 {
  letter-spacing: 4px;
}

/* ICONS */
.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon.pirate-kid {
  background-image: url(../images/icons/icon-baby.png);
}

.icon.treasure-chest {
  background-image: url(../images/icons/chest.png);
}

.icon.steering-wheel {
  background-image: url(../images/icons/steering-wheel-1.svg);
}

.icon.pirate-ship {
  background-image: url(../images/icons/pirate-ship-1.svg);
}

.icon.coin {
  background-image: url(../images/icons/coin-1.svg);
}

.icon.pirate-hook {
  background-image: url(../images/icons/pirate-hook-1.svg);
}

.icon.pirate-hook-2 {
  background-image: url(../images/icons/pirate-hook-2.svg);
}

.icon.map {
  background-image: url(../images/icons/map-1.svg);
}

.icon.swords {
  background-image: url(../images/icons/swords-1.svg);
}

.icon.compass {
  background-image: url(../images/icons/compass-1.svg);
}

/* BACKGROUND MODIFIERS */
.bg-light {
  background-color: #edd0a8 !important;
}

.bg-darker {
  background-color: #cabead !important;
}

/* BODY */
body {
  background-color: #d4c7bb;
}

/*HEADER SECTION*/
.navbar {
  padding: 20px 0;
}

.navbar::after {
  content: "";
  position: absolute;
  height: 115px;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
  background-image: url(../images/background-images/bckgrnd-header-01.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

@media (min-width: 992px) {
  .navbar::after {
    height: 200px;
  }
}

.navbar.navbar-light .navbar-nav .nav-link {
  color: #edd0a8;
}

.navbar.nav-bg {
  background-color: transparent !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar.nav-bg .navbar-brand .navbar__logo {
  display: block;
}

.navbar .navbar-brand {
  vertical-align: middle;
}

.navbar .navbar-brand .navbar__logo {
  width: auto;
  height: 46px;
  max-width: 300px;
}

.navbar .navbar-collapse.menu-main > ul {
  background-color: #1d2326;
}

@media (min-width: 768px) {
  .navbar .navbar-collapse.menu-main > ul {
    background-color: transparent;
  }
}

/* SECTION FORMATTING */
section {
  /* HEADINGS */
}

section .section-title {
  margin: 0 0 45px 0;
  text-align: center;
}

section .header {
  width: 100%;
  height: 0;
}

section .header::after {
  content: "";
  position: absolute;
  top: -95px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 220px;
  height: 220px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .45;
  z-index: -11;
}

section .header.header--dark::after {
  opacity: .65;
}

section .header.header--style-1::after {
  background-image: url(../images/background-images/heading-bckgrnd-01.png);
}

section .header.header--style-2::after {
  background-image: url(../images/background-images/heading-bckgrnd-02.png);
}

section .header.header--style-3::after {
  background-image: url(../images/background-images/heading-bckgrnd-03.png);
}

section .header.header--style-4::after {
  background-image: url(../images/background-images/heading-bckgrnd-04.png);
}

/*BANNER SECTION*/
#banner {
  background: url(../images/santarozahero.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 992px) {
  #banner {
    height: 100vh;
  }
}

#banner .banner__container {
  height: 100%;
}

#banner .backtotop .backtotop__icon {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
}

#banner .backtotop .backtotop__icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100%;
  max-height: 46px;
  max-width: 46px;
  background-image: url(../images/icons/compass-1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 992px) {
  #banner .banner__image-wrapper {
    margin-right: 42px;
  }
}

#banner .banner__image-wrapper .banner__image-holder {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 320px;
}

#banner .banner__image-wrapper .banner__image-holder::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  max-height: 320px;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../images/brand/logo_secondary.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (min-width: 992px) {
  #banner .banner__image-wrapper .banner__image-holder::after {
    background-position: left;
  }
}

#banner .banner-txt {
  text-align: center;
}

@media (min-width: 992px) {
  #banner .banner-txt {
    text-align: left;
  }
}

#banner .banner-txt h1 {
  color: #edd0a8;
}

#banner .banner-txt h3 {
  padding-bottom: 16px;
}

/*BANNER 2 SECTION*/
#banner-2 {
  position: relative;
  background-color: transparent !important;
  overflow: visible;
}

#banner-2::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 220px;
  background-image: url(../images/background-images/bckgrnd-wood-01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

#banner-2::after {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 280px;
  height: 280px;
  background-image: url(../images/background-images/illustration-anchor-01.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (min-width: 992px) {
  #banner-2::after {
    left: 100px;
  }
}

@media (min-width: 1680px) {
  #banner-2::after {
    left: 360px;
  }
}

@media (min-width: 1200px) {
  #banner-2 .banner-2__container {
    padding: 25px 0;
    position: relative;
  }
  #banner-2 .banner-2__container .hourglass-icon {
    display: block;
    position: relative;
    padding: 25px;
    height: 120px;
    width: 120px;
  }
  #banner-2 .banner-2__container .hourglass-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
    width: 100%;
    height: 100%;
    background-image: url(../images/icons/hourglass-01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #banner-2 .coun_time h2 {
    color: #569984;
  }
  #banner-2 .coun_time p {
    color: #1d2326;
  }
}

#banner-2 .banner-2__aside-text {
  color: #1d2326;
  padding-top: 55px;
}

@media (min-width: 576px) {
  #banner-2 .banner-2__aside-text {
    padding-top: 12px;
  }
}

@media (min-width: 768px) {
  #banner-2 .banner-2__aside-text {
    padding-top: 0;
  }
}

/* EVENTS SECTION */
#event .about-item {
  overflow: hidden;
}

#event .about-item span {
  width: 70px;
  height: 70px;
  top: 10px;
  right: 8px;
}

/* BRAND SECTION */
#brand .brand__image-holder {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#brand .brand__image-holder > img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* SCHEDULE SECTION */
#schedule .schedule-pa {
  padding-top: 25px;
}

#schedule .scrollarea {
  overflow: visible !important;
  cursor: default !important;
  max-height: unset;
  -ms-touch-action: auto !important;
      touch-action: auto !important;
}

#schedule .scrollarea .schedule-item h3::after {
  background-color: #569984;
  opacity: 0.3;
}

#schedule .scrollarea .schedule-item .timer {
  background-color: transparent;
}

/* ABOUT SECTIONS */
#about .about-img {
  height: 100%;
}

#about .about-img .main-img {
  height: 100%;
  display: block;
}

#about .about-img .main-img > img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
}

/* COUNTER SECTION */
#counter {
  padding: 100px 0 0px 0;
}

@media (min-width: 992px) {
  #counter {
    padding: 100px 0 65px 0;
    position: relative;
  }
  #counter::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 500px;
    background-image: url(../images/background-images/illustration-bckgrnd-01.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: .4;
  }
  #counter .count-item {
    background-color: rgba(255, 255, 255, 0.65);
  }
}

#counter .counter-txt .icon {
  height: 36px;
  width: 36px;
  display: inline-block;
  margin-right: 6px;
}

/* ROUTE SECTION */
#route-section {
  padding: 90px 0;
}

#route-section .route-section__item {
  position: relative;
}

#route-section .route-section__connection {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: visible;
}

#route-section .route-section__connection::after {
  content: none;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 360px;
  background-image: url(../images/background-images/dotted-line-01.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 992px) {
  #route-section .route-section__connection::after {
    content: "";
    height: 360px;
  }
}

@media (min-width: 1200px) {
  #route-section .route-section__connection::after {
    height: 500px;
  }
}

/* ORGANIZE SECTION */
#organize {
  background-image: url(../images/custom-events-01-480.jpg);
}

@media (min-width: 768px) {
  #organize {
    background-image: url(../images/custom-events-01-768.jpg);
  }
}

@media (min-width: 1200px) {
  #organize {
    background-image: url(../images/custom-events-01-1024.jpg);
  }
}

@media (min-width: 1680px) {
  #organize {
    background-image: url(../images/custom-events-01-1680.jpg);
  }
}

@media (min-width: 1920px) {
  #organize {
    background-image: url(../images/custom-events-01-1920.jpg);
  }
}

#organize::after {
  opacity: .9;
  background-color: #1d2326;
}

/* PRICE SECTION */
#price {
  position: relative;
  overflow: hidden;
}

#price::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -100px;
  width: 100%;
  height: 100%;
  background-image: url(../images/background-images/bckgrnd-map-sepia-01.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: .15;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

/* GALLERY SECTION */
#gallery {
  background-image: url(../images/video-bckgrnd-01.jpg);
}

#gallery::after {
  opacity: 0.65;
  background-color: #1d2326;
}

#gallery .gallery-heading h3::after {
  content: none;
}

/* FOOTER SECTION */
#footer {
  padding: 36px 0;
  position: relative;
  background-color: transparent;
}

#footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/background-images/bckgrnd-wood-01.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

#footer .footer__logo {
  width: 100%;
  height: auto;
  max-width: 250px;
}

#footer .menu-a a {
  color: #edd0a8;
}

.venobox.vbox-item > i::before {
  padding-left: 3px;
}

.timer-main img {
  width: 130px;
  height: 130px;
}
/*# sourceMappingURL=custom.css.map */