@charset "UTF-8";
/* TEXT */
h1,
h2,
h3 {
  font-family: "Bangers", cursive !important;
  letter-spacing: 2px;
  color: #474341;
}

p {
  color: #686460;
}

.section-title h1 {
  color: #bf382b;
}

.banner-txt h1 {
  letter-spacing: 4px;
}

.event-header h1,
.event-header h2,
.event-header h3 {
  color: #474341;
}

/* ICONS */
.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon.pirate-kid {
  background-image: url(../images/icons/icon-baby.png);
}

.icon.treasure-chest {
  background-image: url(../images/icons/chest.png);
}

.icon.steering-wheel {
  background-image: url(../images/icons/steering-wheel-1.svg);
}

.icon.pirate-ship {
  background-image: url(../images/icons/pirate-ship-1.svg);
}

.icon.coin {
  background-image: url(../images/icons/coin-1.svg);
}

.icon.pirate-hook {
  background-image: url(../images/icons/pirate-hook-1.svg);
}

.icon.pirate-hook-2 {
  background-image: url(../images/icons/pirate-hook-2.svg);
}

.icon.map {
  background-image: url(../images/icons/map-1.svg);
}

.icon.swords {
  background-image: url(../images/icons/swords-1.svg);
}

.icon.compass {
  background-image: url(../images/icons/compass-1.svg);
}

/* TEXT SPACERS */
.text-spacer-1 {
  display: block;
  width: 100%;
  height: 65px;
  margin: 24px 0;
  background-image: url(../images/background-images/text-spacer-01.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* BUTTONS */
.btn {
  padding: 21px 25px;
  border-radius: 50px;
  font-weight: bold;
}

[class*="btn--"] {
  position: relative;
  overflow: hidden;
  position: relative !important;
  background-color: #bf382b !important;
  display: inline-block;
  z-index: 1;
}

[class*="btn--"]:hover {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn--style1 {
  color: #ede9df !important;
  font-size: 19px;
}

.btn--style1::before {
  content: "";
  display: block;
  position: absolute;
  height: 80px;
  width: 80px;
  bottom: -30px;
  left: -30px;
  background-image: url(../images/textures/dirt-01.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.55;
  z-index: -1;
}

.btn--style1::after {
  content: "";
  display: block;
  position: absolute;
  height: 85px;
  width: 85px;
  top: -20px;
  right: -30px;
  background-image: url(../images/textures/dirt-01.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.35;
  z-index: -1;
}

.btn--style2::before {
  content: "";
  display: block;
  position: absolute;
  height: 160px;
  width: 160px;
  top: 65%;
  left: 30%;
  -webkit-transform: translateY(-45%) translateX(-50%);
          transform: translateY(-45%) translateX(-50%);
  background-image: url(../images/textures/dirt-02.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.55;
  z-index: -1;
}

.btn--style3::before {
  content: "";
  display: block;
  position: absolute;
  height: 160px;
  width: 160px;
  top: 65%;
  left: 50%;
  -webkit-transform: translateY(-45%) translateX(-50%);
          transform: translateY(-45%) translateX(-50%);
  background-image: url(../images/textures/dirt-03.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.55;
  z-index: -1;
}

/* BACKGROUND MODIFIERS */
[class^="bg-"] {
  background: unset !important;
  position: relative;
  width: 100%;
}

.bg-light {
  background-color: #ede9df !important;
}

.bg-darker {
  background-color: #e7e1d6 !important;
}

.bg-wood--repeat {
  background-image: url(../images/background-images/bckgrnd-wood-repeat-01.jpg) !important;
  background-position: center !important;
  background-size: 100% !important;
  background-repeat: repeat-y !important;
  z-index: 10;
}

.bg-wood--repeat .bg-top {
  position: absolute;
  width: 100%;
  height: auto;
  top: -12px;
  left: 0;
}

.bg-wood--repeat .bg-bottom {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: -12px;
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 0;
}

/* BOXES */
.boxed {
  position: relative;
  background-color: transparent !important;
  overflow: visible;
}

.boxed.boxed--paper {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  -o-border-image: url(../images/borders/paper-border-01.png) 100 100 round;
     border-image: url(../images/borders/paper-border-01.png) 100 100 round;
  border-image-width: 50px;
  border-image-outset: 15;
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
  background-color: #e6dfd4 !important;
}

.boxed.boxed--paper-2 {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  -o-border-image: url(../images/borders/paper-border-02.png) 100 100 round;
     border-image: url(../images/borders/paper-border-02.png) 100 100 round;
  border-image-width: 50px;
  border-image-outset: 15;
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
  background-color: #ede9df !important;
}

.boxed.boxed--paper::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: url(../images/background-images/shadow-1.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
  opacity: 0.07;
  z-index: -30;
}

@media (min-width: 992px) {
  .boxed.boxed--paper::before {
    left: -25px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.boxed::after {
  content: "";
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: -20px;
  right: -25px;
  background-image: url(../images/textures/dirt-03.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.35;
  z-index: 1;
}

/* BODY */
body {
  background-color: #ede9df;
}

/*HEADER SECTION*/
.navbar {
  padding: 10px 20px;
}

@media (min-width: 992px) {
  .navbar {
    padding: 20px 100px;
  }
}

@media (min-width: 1200px) {
  .navbar {
    padding: 20px 200px;
  }
}

.navbar::after {
  content: "";
  position: absolute;
  height: 115px;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
  background-image: url(../images/background-images/bckgrnd-header-01.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

@media (min-width: 992px) {
  .navbar::after {
    height: 200px;
  }
}

.navbar.navbar-light .navbar-nav .nav-link {
  color: #ede9df;
}

.navbar.nav-bg {
  background-color: transparent !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar.nav-bg .navbar-brand .navbar__logo {
  display: block;
}

.navbar .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-brand {
  vertical-align: middle;
}

.navbar .navbar-brand .navbar__logo {
  width: auto;
  height: auto;
  max-width: 200px;
}

@media (min-width: 992px) {
  .navbar .navbar-brand .navbar__logo {
    max-width: 220px;
  }
}

@media (min-width: 1200px) {
  .navbar .navbar-brand .navbar__logo {
    max-width: 240px;
  }
}

@media (min-width: 1680px) {
  .navbar .navbar-brand .navbar__logo {
    max-width: 280px;
  }
}

.navbar .navbar-collapse.menu-main > ul {
  background-color: #9b2d2d;
}

@media (min-width: 768px) {
  .navbar .navbar-collapse.menu-main > ul {
    background-color: transparent;
  }
}

/* SECTION FORMATTING */
section {
  /* HEADINGS */
}

section .section-title {
  margin: 0 0 45px 0;
  text-align: center;
}

section .header {
  width: 100%;
  height: 0;
}

section .header::after {
  content: "";
  position: absolute;
  top: -95px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 220px;
  height: 220px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.45;
  z-index: -11;
}

section .header.header--dark::after {
  opacity: 0.65;
}

section .header.header--style-1::after {
  background-image: url(../images/background-images/heading-bckgrnd-01.png);
}

section .header.header--style-2::after {
  background-image: url(../images/background-images/heading-bckgrnd-02.png);
}

section .header.header--style-3::after {
  background-image: url(../images/background-images/heading-bckgrnd-03.png);
}

section .header.header--style-4::after {
  background-image: url(../images/background-images/heading-bckgrnd-04.png);
}

/*BANNER SECTION*/
#banner {
  background: url(../images/santarozahero.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

@media (min-width: 992px) {
  #banner {
    height: 100vh;
  }
}

#banner .text-shadow {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 1px;
  height: 1px;
  -webkit-box-shadow: 0 0 60px 60px rgba(26, 20, 20, 0.65);
          box-shadow: 0 0 60px 60px rgba(26, 20, 20, 0.65);
  border-radius: 100%;
}

@media (min-width: 992px) {
  #banner .text-shadow {
    -webkit-box-shadow: 0 0 160px 160px rgba(26, 20, 20, 0.65);
            box-shadow: 0 0 160px 160px rgba(26, 20, 20, 0.65);
  }
}

#banner .banner__container {
  height: 100%;
}

#banner .backtotop .backtotop__icon {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  background: #bf382b;
  border: 1px solid #bf382b;
}

#banner .backtotop .backtotop__icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100%;
  max-height: 46px;
  max-width: 46px;
  background-image: url(../images/icons/compass-1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 992px) {
  #banner .banner__image-wrapper {
    margin-right: 42px;
  }
}

#banner .banner__image-wrapper .banner__image-holder {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 320px;
}

#banner .banner__image-wrapper .banner__image-holder::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  max-height: 320px;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../images/brand/logo_secondary.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (min-width: 992px) {
  #banner .banner__image-wrapper .banner__image-holder::after {
    background-position: left;
  }
}

#banner .banner-txt {
  text-align: center;
}

@media (min-width: 992px) {
  #banner .banner-txt {
    text-align: left;
  }
}

#banner .banner-txt h1 {
  color: #ede9df;
}

#banner .banner-txt h3 {
  padding-bottom: 16px;
}

/*BANNER 2 SECTION*/
#banner-2 {
  position: relative;
  background-color: transparent !important;
  overflow: visible;
}

#banner-2::after {
  content: "";
  position: absolute;
  top: -30px;
  left: -140px;
  width: 280px;
  height: 280px;
  background-image: url(../images/background-images/illustration-anchor-01.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 20;
}

@media (min-width: 768px) {
  #banner-2::after {
    left: 0;
  }
}

@media (min-width: 992px) {
  #banner-2::after {
    left: 100px;
  }
}

@media (min-width: 1680px) {
  #banner-2::after {
    left: 360px;
  }
}

#banner-2 .coun_time h2 {
  color: #bf382b;
}

#banner-2 .coun_time p {
  color: white;
}

@media (min-width: 1200px) {
  #banner-2 .banner-2__container {
    padding: 0;
    position: relative;
  }
  #banner-2 .banner-2__container .hourglass-icon {
    display: block;
    position: relative;
    padding: 25px;
    height: 120px;
    width: 120px;
  }
  #banner-2 .banner-2__container .hourglass-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
    width: 100%;
    height: 100%;
    background-image: url(../images/icons/hourglass-01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

#banner-2 .banner-2__aside-text {
  color: white;
  padding-top: 55px;
}

@media (min-width: 576px) {
  #banner-2 .banner-2__aside-text {
    padding-top: 12px;
  }
}

@media (min-width: 768px) {
  #banner-2 .banner-2__aside-text {
    padding-top: 10px;
  }
}

/* EVENTS SECTION */
#event .event-header h3 {
  color: #bf382b;
}

#event .event-header p {
  color: #686460;
}

#event .about-item h3 {
  padding-right: 40px;
  color: #474341;
}

@media (min-width: 992px) {
  #event .about-item {
    height: 100%;
  }
  #event .about-item:first-of-type {
    margin-right: 20px;
  }
  #event .about-item:last-of-type {
    margin-left: 20px;
  }
}

#event .about-item span {
  width: 70px;
  height: 70px;
  top: 10px;
  right: 8px;
}

/* COUNTER SECTION */
#counter {
  padding: 100px 0 0px 0;
}

@media (min-width: 992px) {
  #counter {
    padding: 100px 0 65px 0;
    position: relative;
  }
  #counter::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 500px;
    background-image: url(../images/background-images/illustration-bckgrnd-01.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.4;
  }
  #counter .count-item {
    background-color: rgba(255, 255, 255, 0.65);
  }
}

#counter .counter-txt h3 {
  color: #474341;
}

#counter .counter-txt p {
  color: #89847f;
}

#counter .counter-txt .icon {
  height: 36px;
  width: 36px;
  display: inline-block;
  margin-right: 6px;
}

#counter .counter-txt span {
  color: #bf382b;
}

/* BRAND SECTION */
#brand .brand__image-holder {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#brand .brand__image-holder > img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* SCHEDULE AND PRICE SECTION */
#schedule-prices {
  position: relative;
}

#schedule-prices .schedule-prices__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  opacity: .85;
  overflow: hidden;
}

@media (min-width: 992px) {
  #schedule-prices .schedule-prices__bg {
    display: block;
  }
}

#schedule-prices .schedule-prices__bg > .bg__ship {
  position: absolute;
  display: block;
  width: 650px;
  height: 650px;
  top: 40%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url(../images/background-images/schedule-ship-01.png);
  z-index: 2;
}

#schedule-prices .schedule-prices__bg > .bg__island-foreground {
  position: absolute;
  display: block;
  width: 800px;
  height: 800px;
  top: 35%;
  right: -200px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url(../images/background-images/schedule-island-foreground-01.png);
  z-index: 1;
}

#schedule-prices .schedule-prices__bg > .bg__fog {
  position: absolute;
  display: block;
  width: 100%;
  height: 650px;
  top: 200px;
  left: -400px;
  background-size: auto;
  background-repeat: repeat-x;
  background-position: center;
  background-image: url(../images/background-images/schedule-fog.svg);
  z-index: 0;
  opacity: 1;
}

#schedule-prices .schedule-prices__bg > .bg__mountains {
  position: absolute;
  display: block;
  width: 100%;
  height: 65px;
  top: 40%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-size: contain;
  background-repeat: repeat-x;
  background-position: center;
  background-image: url(../images/background-images/schedule-mountains.svg);
  z-index: 0;
  opacity: .45;
}

/* SCHEDULE SECTION */
#schedule {
  padding-bottom: 45px;
  background: transparent;
}

#schedule .schedule__table-container {
  height: auto;
}

#schedule .schedule__table-container .schedule__item {
  width: 100%;
  position: relative;
  display: block;
}

#schedule .schedule__table-container .schedule__item .schedule__item-bckgrnd {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 100%;
}

#schedule .schedule__table-container .schedule__item .schedule__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 32px 25px 25px 25px;
}

@media (min-width: 992px) {
  #schedule .schedule__table-container .schedule__item .schedule__item-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#schedule .schedule__table-container .schedule__item .schedule__item-container .schedule__item-text {
  width: 100%;
  text-align: center;
  color: #686460;
}

#schedule .schedule__table-container .schedule__item .schedule__item-container .schedule__item-text .schedule__item-header {
  text-align: center;
}

@media (min-width: 992px) {
  #schedule .schedule__table-container .schedule__item .schedule__item-container .schedule__item-text .schedule__item-header {
    text-align: left;
  }
}

#schedule .schedule__table-container .schedule__item .schedule__item-container .schedule__item-text .schedule__item-header .schedule__item-img {
  height: 64px;
  width: 64px;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
  background-image: url(../images/icons/chest.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#schedule .schedule__table-container .schedule__item .schedule__item-container .schedule__item-text .schedule__item-header h3 {
  display: inline-block;
  vertical-align: middle;
  padding-top: 5px;
  padding-left: 12px;
  font-size: 35px;
}

#schedule .schedule__table-container .schedule__item .schedule__item-container .schedule__item-text .schedule__item-header p {
  font-size: 18px;
  color: #89847f;
}

#schedule .schedule__table-container .schedule__item .schedule__item-container .schedule__item-text .schedule__timetable-row {
  padding-top: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

#schedule .schedule__table-container .schedule__item .schedule__item-container .schedule__item-text .schedule__timetable-row::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #b7978a;
}

#schedule .schedule__table-container .schedule__item .schedule__item-container .schedule__item-text .schedule__timetable-row .schedule__timetable {
  width: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (min-width: 992px) {
  #schedule .schedule__table-container .schedule__item .schedule__item-container .schedule__item-text .schedule__timetable-row .schedule__timetable {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

#schedule .schedule__table-container .schedule__item .schedule__item-container .schedule__item-text .schedule__timetable-row .schedule__timetable > li {
  line-height: 32x;
  font-size: 32px;
  font-weight: bold;
  color: #bf382b;
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
}

@media (min-width: 992px) {
  #schedule .schedule__table-container .schedule__item .schedule__item-container .schedule__item-text .schedule__timetable-row .schedule__timetable > li:not(.schedule__timetable-period):not(:nth-of-type(2)) {
    border-left: 1px solid #b7978a;
  }
}

#schedule .schedule__table-container .schedule__item .schedule__item-container .schedule__item-text .schedule__timetable-row .schedule__timetable > li.schedule__timetable-period {
  display: inline;
  font-weight: bold;
  font-size: 16px;
  white-space: nowrap;
  padding: 16px 10px;
  line-height: 100%;
  color: #686460;
  background-color: rgba(183, 151, 138, 0.25);
  border: unset;
}

#schedule .schedule__table-container .btn {
  display: block;
  margin: 20px auto 0;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

#schedule .schedule__table-container .schedule__addendum {
  padding-top: 22px;
  text-align: center;
}

#schedule .schedule__table-container .schedule__addendum ul > li::before {
  content: "⋆";
  font-size: 32px;
  color: #bf382b;
  padding-right: 2px;
}

#schedule .nav.nav-pills .nav-link {
  position: relative;
  overflow: hidden;
  color: #686460;
  background-color: #ede9df;
  -webkit-box-shadow: 0 0 16px 0 rgba(48, 15, 15, 0.25);
          box-shadow: 0 0 16px 0 rgba(48, 15, 15, 0.25);
}

#schedule .nav.nav-pills .nav-link::before {
  content: "";
  display: block;
  position: absolute;
  height: 160px;
  width: 160px;
  top: 35%;
  left: 30%;
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
  background-image: url(../images/textures/dirt-03.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: 0;
}

#schedule .nav.nav-pills .nav-link.active {
  background-color: #bf382b;
  color: #ede9df;
  position: relative;
}

#schedule .nav.nav-pills .nav-link.active::before {
  content: "";
  display: block;
  position: absolute;
  height: 160px;
  width: 160px;
  top: 65%;
  left: 30%;
  -webkit-transform: translateY(-45%) translateX(-50%);
          transform: translateY(-45%) translateX(-50%);
  background-image: url(../images/textures/dirt-02.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.55;
  z-index: 0;
}

#schedule .schedule-pa {
  padding-top: 25px;
}

#schedule .scrollarea {
  overflow: visible !important;
  cursor: default !important;
  max-height: unset;
  -ms-touch-action: auto !important;
      touch-action: auto !important;
}

#schedule .scrollarea .schedule-item h3 {
  color: #474341;
}

#schedule .scrollarea .schedule-item h3::after {
  background-color: #d69a90;
}

#schedule .scrollarea .schedule-item span {
  color: #686460;
}

#schedule .scrollarea .schedule-item .timer {
  background-color: transparent;
}

#schedule .scrollarea .schedule-item .se-btn a {
  background-color: #bf382b;
}

/* ROUTE SECTION */
#route-section {
  padding: 90px 0;
}

#route-section .route-section__item {
  position: relative;
}

#route-section .route-section__connection {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: visible;
}

#route-section .route-section__connection::after {
  content: none;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 360px;
  background-image: url(../images/background-images/dotted-line-01.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 992px) {
  #route-section .route-section__connection::after {
    content: "";
    height: 360px;
  }
}

@media (min-width: 1200px) {
  #route-section .route-section__connection::after {
    height: 500px;
  }
}

/* PRICE SECTION */
#price {
  position: relative;
  overflow: hidden;
  background: transparent;
}

#price::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -100px;
  width: 100%;
  height: 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.15;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

#price .price-item {
  z-index: 1;
}

#price .price-item .price-tag > span {
  color: #bf382b;
}

#price .price-item h3 {
  color: #474341;
}

#price .price-item .gap-p p,
#price .price-item .gap-p i {
  color: #686460;
}

#price .price-btn > a > i {
  background-color: #bf382b;
  border-color: #bf382b;
}

/* ORGANIZE SECTION */
#organize {
  position: relative;
  overflow: hidden;
  background-image: url(../images/custom-events-01-480.jpg);
}

@media (min-width: 768px) {
  #organize {
    background-image: url(../images/custom-events-01-768.jpg);
  }
}

@media (min-width: 1200px) {
  #organize {
    background-image: url(../images/custom-events-01-1024.jpg);
  }
}

@media (min-width: 1680px) {
  #organize {
    background-image: url(../images/custom-events-01-1680.jpg);
  }
}

@media (min-width: 1920px) {
  #organize {
    background-image: url(../images/custom-events-01-1920.jpg);
  }
}

#organize::after {
  opacity: 0.9;
  background-color: #300f0f;
}

#organize .text-shadow {
  height: 1px;
  width: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  border-radius: 100%;
  -webkit-box-shadow: 0 0 160px 200px #300f0f;
          box-shadow: 0 0 160px 200px #300f0f;
  z-index: -1;
}

#organize .organize-text .head-span {
  color: #bf382b;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
}

#organize .organize-text h3::after {
  background: #bf382b;
  opacity: 0.35;
}

#organize .organize-text p {
  color: #ede9df;
}

#organize .organize-text a {
  background-color: #bf382b;
  -webkit-box-shadow: 0px 4px 19px 0px #bf382b;
          box-shadow: 0px 4px 19px 0px #bf382b;
}

/* ORGANIZE 2 SECTION */
#organize_2 .org-item::after {
  background: #bf382b;
}

#organize_2 .org-item h3,
#organize_2 .org-item p {
  color: #ede9df;
}

#organize_2 .org-item i {
  background-color: #bf382b;
}

/* GALLERY SECTION */
#gallery {
  background-image: url(../images/video-bckgrnd-01.jpg);
}

#gallery::after {
  opacity: 0.65;
  background-color: #300f0f;
}

#gallery .gallery-heading h3 {
  color: #ede9df;
}

#gallery .gallery-heading h3::after {
  content: none;
}

#gallery .gallery-pa a > i {
  background: #bf382b;
}

#gallery .gallery-pa a > i::before {
  color: #ede9df;
}

#gallery .gallery-pa p {
  color: #ede9df;
}

/* GALLERY-2 SECTION */
#gallery_2 .hover-overlay {
  background: rgba(191, 56, 43, 0.65);
}

/* ABOUT SECTIONS */
#about {
  background-color: #e7e1d6;
}

#about .about-img {
  height: 100%;
}

#about .about-img .main-img {
  height: 100%;
  display: block;
}

#about .about-img .main-img > img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
}

#about .about-txt h3,
#about .about-txt span {
  color: #bf382b;
}

#about .about-txt h4 {
  color: #474341;
}

#about .about-txt p {
  color: #686460;
}

#about .about-txt a {
  background: #bf382b;
}

/* REGISTER SECTION */
#register .register-box {
  padding: 6px;
}

@media (min-width: 992px) {
  #register .register-box {
    padding: 35px;
  }
}

#register .register-box .r-b-color {
  background-image: url(../images/kassza-480x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  #register .register-box .r-b-color {
    background-image: url(../images/kassza-640x.jpg);
  }
}

#register .register-box .purchase-box h4,
#register .register-box .purchase-box h5 {
  color: #bf382b;
}

#register .register-box .purchase-box button.btn.btn-primary {
  background: #bf382b;
  border: 1px solid #bf382b;
}

#register .register-box .purchase-box button.btn.btn-primary:hover {
  -webkit-box-shadow: 0px 4px 19px 0px #bf382b;
          box-shadow: 0px 4px 19px 0px #bf382b;
}

/* FOOTER SECTION */
#footer {
  padding: 36px 0;
  position: relative;
  background-color: transparent;
}

#footer .copy-right-txt p {
  color: #bf382b;
}

#footer .footer__container .footer__item:not(:first-of-type) {
  padding-top: 24px;
}

@media (min-width: 992px) {
  #footer .footer__container .footer__item:not(:first-of-type) {
    padding-top: 0;
  }
}

#footer .footer__container .footer__logo-container {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 992px) {
  #footer .footer__container .footer__logo-container {
    text-align: left;
  }
}

#footer .footer__container .footer__logo-container .footer__logo {
  width: 100%;
  height: auto;
  max-width: 200px;
  opacity: 0.7;
}

#footer .footer__container .menu-a {
  text-align: center;
}

#footer .footer__container .menu-a a {
  color: #ede9df;
}

@media (min-width: 992px) {
  #footer .footer__container .menu-a {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
}

#footer .footer__container .footer__map-container {
  width: 100%;
}

.venobox.vbox-item > i::before {
  padding-left: 3px;
}

.timer-main img {
  width: 130px;
  height: 130px;
}
/*# sourceMappingURL=custom.css.map */