@function color($color){
    @return map-get($colors, $color);
}

$colors:(
    primary: #569984,
    primary-dark: #1d2326,
    background1: #e7ddd4,
    secondary: #e9d9c3,
    secondary-dark: #cabead
)