@function color($color){
    @return map-get($colors, $color);
}

$colors:(
    primary: #569984,
    primary-dark: #1d2326,
    background1: #d4c7bb,
    secondary: #edd0a8,
    secondary-dark: #cabead
)