@import "colors";
@import "mediaqueries";

/* TEXT */

h1,
h2,
h3 {
    font-family: "Bangers", cursive !important;
    letter-spacing: 2px;
}

.banner-txt h1 {
    letter-spacing: 4px;
}

/* ICONS */
.icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &.pirate-kid {
        background-image: url(../images/icons/icon-baby.png);
        // background-image: url(../images/icons/pirate-kid-2.svg);
    }

    &.treasure-chest {
        background-image: url(../images/icons/chest.png);
        // background-image: url(../images/icons/treasure-chest-1.svg);
    }

    &.steering-wheel {
        background-image: url(../images/icons/steering-wheel-1.svg);
    }

    &.pirate-ship {
        background-image: url(../images/icons/pirate-ship-1.svg);
    }

    &.coin {
        background-image: url(../images/icons/coin-1.svg);
    }

    &.pirate-hook {
        background-image: url(../images/icons/pirate-hook-1.svg);
    }

    &.pirate-hook-2 {
        background-image: url(../images/icons/pirate-hook-2.svg);
    }

    &.map {
        background-image: url(../images/icons/map-1.svg);
    }

    &.swords {
        background-image: url(../images/icons/swords-1.svg);
    }

    &.compass {
        background-image: url(../images/icons/compass-1.svg);
    }
}

/* BUTTONS */

[class*="btn--"] {
    position: relative;

    &:hover{
        box-shadow: none !important;
    }
}

[class*="btn--style"]{
    background-color: transparent !important;
    z-index: 10;

    &::after {
        content: "";
        height: 120%;
        width: 120%;
        transform-origin: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        background-color: transparent;        
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 4px;
    }
}

.btn--style1 {
    &::after {
        height: 160%;
        width: 160%;
        background-image: url(../images/buttons/button-01.png);
        z-index: -1;
    }
}

.btn--style2{
    color: black !important;     
    &::after {
        height: 140%;
        width: 140%;
        background-image: url(../images/buttons/button-02.png);
        z-index: -1;
        margin-left: -1px;        
    }
}

/* BACKGROUND MODIFIERS */

[class^="bg-"] {
    background: unset !important;
    position: relative;
    width: 100%;
}

.bg-light {
    background-color: color(secondary) !important;
}

.bg-darker {
    background-color: color(secondary-dark) !important;
}

.bg-wood {
    &--repeat {
        background-image: url(../images/background-images/bckgrnd-wood-repeat-01.jpg) !important;
        background-position: center !important;
        background-size: 100% !important;
        background-repeat: repeat-y !important;

        .bg-top {
            position: absolute;
            width: 100%;
            height: auto;
            top: -12px;
            left: 0;
        }

        .bg-bottom {
            position: absolute;
            width: 100%;
            height: auto;
            bottom: -12px;
            left: 0;
            transform: rotate(180deg);

            z-index: 10;
        }
    }
}

/* BOXES */
.boxed {
    // padding: 0;
    position: relative;
    background-color: transparent !important;
    overflow: visible;

    &.boxed--paper {
        border: 1px solid transparent;
        border-image: url(../images/borders/paper-border-01.png) 100 round;
        border-image-width: 60px;
        border-image-outset: 15;
        background-color: #f4eae5;
        box-shadow: 0 0 0 transparent;
        background-color: #f6efe8 !important;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            display: block;
            top: 25px;
            left: -25px;
            background-image: url(../images/background-images/shadow-1.svg);
            background-repeat: no-repeat;
            background-position: bottom left;
            background-size: cover;
            opacity: 0.07;
            z-index: -10;
        }
    }
}

/* BODY */
body {
    background-color: color(background1);
}

/*HEADER SECTION*/
.navbar {
    padding: 20px 0;

    &::after {
        content: "";
        position: absolute;
        height: 115px;
        width: 100%;
        top: 0;
        left: 0;
        display: block;
        background-image: url(../images/background-images/bckgrnd-header-01.png);
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;

        @include screen-lg {
            height: 200px;
        }
    }

    &.navbar-light {
        .navbar-nav .nav-link {
            color: color(secondary);
        }
    }

    &.nav-bg {
        background-color: transparent !important;
        box-shadow: none;

        // &::after{
        //     content: "";
        //     position: absolute;
        //     height: 115px;
        //     width: 100%;
        //     top: 0;
        //     left: 0;
        //     display: block;
        //     background-image: url(../images/background-images/bckgrnd-header-01.png);
        //     background-position: bottom;
        //     background-size: cover;
        //     background-repeat: no-repeat;
        //     z-index: -1;

        //     @include screen-lg{
        //         height: 200px;
        //     }
        // }

        .navbar-brand .navbar__logo {
            display: block;
        }
    }

    .navbar-brand {
        vertical-align: middle;
        .navbar__logo {
            width: auto;
            height: 46px;
            max-width: 300px;
        }
    }

    // Collapsed navbar
    .navbar-collapse.menu-main {
        > ul {
            background-color: color(primary-dark);
            @include screen-md {
                background-color: transparent;
            }
        }
    }
}

/* SECTION FORMATTING */
section {
    /* HEADINGS */

    .section-title {
        margin: 0 0 45px 0;
        text-align: center;
    }
    .header {
        width: 100%;
        height: 0;

        &::after {
            content: "";
            position: absolute;
            top: -95px;
            left: 50%;
            transform: translateX(-50%);
            width: 220px;
            height: 220px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0.45;
            z-index: -11;
        }

        &.header--dark {
            &::after {
                opacity: 0.65;
            }
        }

        &.header {
            &--style-1 {
                &::after {
                    background-image: url(../images/background-images/heading-bckgrnd-01.png);
                }
            }
            &--style-2 {
                &::after {
                    background-image: url(../images/background-images/heading-bckgrnd-02.png);
                }
            }

            &--style-3 {
                &::after {
                    background-image: url(../images/background-images/heading-bckgrnd-03.png);
                }
            }

            &--style-4 {
                &::after {
                    background-image: url(../images/background-images/heading-bckgrnd-04.png);
                }
            }
        }
    }
}

/*BANNER SECTION*/
#banner {
    background: url(../images/santarozahero.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    @include screen-lg {
        height: 100vh;
    }

    .banner__container {
        height: 100%;
    }

    .backtotop {
        .backtotop__icon {
            position: relative;
            display: block;
            width: 60px;
            height: 60px;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                width: 100%;
                height: 100%;
                max-height: 46px;
                max-width: 46px;

                background-image: url(../images/icons/compass-1.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    .banner__image-wrapper {
        @include screen-lg {
            margin-right: 42px;
        }

        .banner__image-holder {
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 320px;

            &::after {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                max-height: 320px;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background-image: url(../images/brand/logo_secondary.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;

                @include screen-lg {
                    background-position: left;
                }
            }
        }
    }

    .banner-txt {
        text-align: center;

        @include screen-lg {
            text-align: left;
        }

        h1 {
            color: color(secondary);
        }

        h3 {
            padding-bottom: 16px;
        }
    }
}

/*BANNER 2 SECTION*/
#banner-2 {
    position: relative;
    background-color: transparent !important;
    overflow: visible;

    &::after {
        content: "";
        position: absolute;
        top: -30px;
        left: 0;
        width: 280px;
        height: 280px;
        background-image: url(../images/background-images/illustration-anchor-01.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        z-index: 20;

        @include screen-lg {
            left: 100px;
        }

        @include screen-xxl {
            left: 360px;
        }
    }

    @include screen-xl {
        .banner-2__container {
            padding: 25px 0;
            position: relative;

            // &::after{
            //     content: "";
            //     position: absolute;
            //     right: -120px;
            //     top: -140px;
            //     width: 400px;
            //     height: 400px;
            //     display: block;

            //     background-image: url(../images/background-images/illustration-cannon-01.png);
            //     background-position: center;
            //     background-repeat: no-repeat;
            //     background-size: contain;
            // }

            .hourglass-icon {
                display: block;
                position: relative;
                padding: 25px;
                height: 120px;
                width: 120px;

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                    width: 100%;
                    height: 100%;
                    background-image: url(../images/icons/hourglass-01.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }

        .coun_time {
            h2 {
                color: color(primary);
            }

            p {
                color: color(primary-dark);
            }

            #second ~ .coming-data2 {
                // right: 65px;
            }

            #month ~ .coming-data2 {
                // right: 65px;
            }

            #hour ~ .coming-data2 {
                // right: 65px;
            }
        }
    }

    .banner-2__aside-text {
        color: color(primary-dark);
        padding-top: 55px;

        @include screen-sm {
            padding-top: 12px;
        }

        @include screen-md {
            padding-top: 0;
        }
    }
}

/* EVENTS SECTION */
#event {
    .about-item {
        // overflow: hidden;
        span {
            width: 70px;
            height: 70px;
            top: 10px;
            right: 8px;
        }
    }
}

/* BRAND SECTION */
#brand {
    .brand__image-holder {
        width: 100%;
        height: 100%;
        overflow: hidden;

        > img {
            height: auto;
            width: 100%;
            object-fit: cover;
        }
    }
}

/* SCHEDULE SECTION */
#schedule {
    .schedule-pa {
        padding-top: 25px;
    }

    .scrollarea {
        overflow: visible !important;
        cursor: default !important;
        max-height: unset;
        touch-action: auto !important;

        .schedule-item {
            h3 {
                &::after {
                    background-color: color(primary);
                    opacity: 0.3;
                }
            }
            .timer {
                background-color: transparent;
            }
        }
    }
}

/* ABOUT SECTIONS */
#about {
    background-color: color(secondary-dark);

    .about-img {
        height: 100%;

        .main-img {
            height: 100%;
            display: block;

            > img {
                object-fit: cover;
                object-position: center;
                height: 100%;
            }
        }
    }
}

/* COUNTER SECTION */
#counter {
    padding: 100px 0 0px 0;

    @include screen-lg {
        padding: 100px 0 65px 0;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            display: block;
            left: 0;
            top: 0;
            height: 100%;
            width: 500px;
            background-image: url(../images/background-images/illustration-bckgrnd-01.png);
            background-position: right;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
            opacity: 0.4;
        }

        .count-item {
            background-color: rgba($color: #fff, $alpha: 0.65);
        }
    }

    .counter-txt {
        .icon {
            height: 36px;
            width: 36px;
            display: inline-block;
            margin-right: 6px;
        }
    }
}

/* ROUTE SECTION */
#route-section {
    padding: 90px 0;

    .route-section__item {
        position: relative;
    }

    .route-section__connection {
        position: relative;
        width: 100%;
        height: 100px;
        overflow: visible;

        &::after {
            content: none;
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 100%;
            height: 360px;

            background-image: url(../images/background-images/dotted-line-01.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            @include screen-lg {
                content: "";
                height: 360px;
            }

            @include screen-xl {
                height: 500px;
            }
        }
    }
}

/* ORGANIZE SECTION */
#organize {
    background-image: url(../images/custom-events-01-480.jpg);

    @include screen-md {
        background-image: url(../images/custom-events-01-768.jpg);
    }

    @include screen-xl {
        background-image: url(../images/custom-events-01-1024.jpg);
    }

    @include screen-xxl {
        background-image: url(../images/custom-events-01-1680.jpg);
    }

    @include screen-hd {
        background-image: url(../images/custom-events-01-1920.jpg);
    }

    &::after {
        opacity: 0.9;
        background-color: color(primary-dark);
    }
}

/* ORGANIZE 2 SECTION */
// #organize_2{

// }

/* PRICE SECTION */
#price {
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: -50px;
        left: -100px;
        width: 100%;
        height: 100%;

        background-image: url(../images/background-images/bckgrnd-map-sepia-01.jpg);
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.15;
        filter: grayscale(1);
    }
}

/* GALLERY SECTION */
#gallery {
    background-image: url(../images/video-bckgrnd-01.jpg);

    &::after {
        opacity: 0.65;
        background-color: color(primary-dark);
    }

    .gallery-heading {
        h3::after {
            content: none;
        }
    }
}

/* FOOTER SECTION */
#footer {
    padding: 36px 0;
    position: relative;
    background-color: transparent;

    .footer__container{

        .footer__item{
            &:not(:first-of-type){
                padding-top: 24px;

                @include screen-lg{
                    padding-top: 0;
                }
            }
        }

        .footer__logo-container{
            text-align: center;
            align-self: center;
    
            @include screen-lg{
                text-align: left;
            }
    
            .footer__logo {
                width: 100%;
                height: auto;
                max-width: 200px;
            }
        }    
    
        .menu-a{
            text-align: center;
            a {
                color: color(secondary);
            }
    
            @include screen-lg{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: left;
            }
        }
        
        .footer__map-container{
            width: 100%;
        }

    }

    // &::before{
    //     content:"";
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;

    //     background-image: url(../images/background-images/bckgrnd-wood-01.png);
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     background-position: bottom;
    // }
    
}

.venobox.vbox-item > i::before {
    padding-left: 3px;
}

.timer-main img {
    width: 130px;
    height: 130px;
}
