@import "colors";
@import "mediaqueries";
@import "mixins";

@font-face{
    font-family: bangers;
    src: url(../fonts/Bangers-Regular.ttf);
}

@font-face {
    src: url(../fonts/BarlowCondensed-Bold.ttf);
    font-family: bb;
}

@font-face {
    src: url(../fonts/BarlowCondensed-Light.ttf);
    font-family: bl;
}

@font-face {
    src: url(../fonts/BarlowCondensed-Regular.ttf);
    font-family: br;
}

/* TEXT */

h1,
h2,
h3 {
    font-family: bangers !important;
    letter-spacing: 2px;
    color: color(text);
}

p {
    color: color(text-light);
}

.section-title {
    h1 {
        color: color(primary);
    }
}

.banner-txt h1 {
    letter-spacing: 4px;
}

.event-header {
    h1,
    h2,
    h3 {
        color: color(text);
    }
}

/* ICONS */
.icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &.arrow {
        background-image: url(../images/icons/arrow-white.svg);
    }

    &.ship-surrender {
        background-image: url(../images/icons/icon-surrender.svg);
    }

    &.wheel-1-white {
        background-image: url(../images/icons/icon-wheel-1-white.svg);
    }

    &.boots {
        background-image: url(../images/icons/icon-boots-1-white.svg);
    }

    &.fishes {
        background-image: url(../images/icons/icon-fishes-1-white.svg);
    }

    &.jugs {
        background-image: url(../images/icons/icon-jugs.svg);
    }

    &.jug-white {
        background-image: url(../images/icons/icon-jug-1-white.svg);
    }

    &.jugs-mat {
        background-image: url(../images/icons/icon-jugs-01-mat.svg);
    }

    &.pirate-hat {
        background-image: url(../images/icons/icon-pirate-hat.svg);
    }

    &.pirate-kid {
        background-image: url(../images/icons/icon-baby.png);
        // background-image: url(../images/icons/pirate-kid-2.svg);
    }

    &.treasure-chest {
        background-image: url(../images/icons/chest.png);
        // background-image: url(../images/icons/treasure-chest-1.svg);
    }

    &.steering-wheel {
        background-image: url(../images/icons/steering-wheel-1.svg);
    }

    &.pirate-ship {
        background-image: url(../images/icons/pirate-ship-1.svg);
    }

    &.coin {
        background-image: url(../images/icons/icon-coin.svg);
    }

    &.coin-2 {
        background-image: url(../images/icons/icon-coin-2.svg);
    }

    &.pirate-hook {
        background-image: url(../images/icons/icon-hook.svg);
    }

    &.pirate-hook-2 {
        background-image: url(../images/icons/icon-hook-2.svg);
    }

    &.map {
        background-image: url(../images/icons/icon-map-2.svg);
    }

    &.swords {
        background-image: url(../images/icons/swords-1.svg);
    }

    &.compass {
        background-image: url(../images/icons/compass-1.svg);
    }
}

/* TEXT SPACERS */

.text-spacer-1 {
    display: block;
    width: 100%;
    height: 65px;
    margin: 24px 0;
    background-image: url(../images/background-images/text-spacer-01.png);
    @include bckgrnd-img--contain;
}

/* BUTTONS */

.btn {
    padding: 21px 25px;
    border-radius: 50px;
    font-weight: bold;
}

[class*="btn--"] {
    position: relative;
    overflow: hidden;
    position: relative !important;
    background-color: color(primary) !important;
    display: inline-block;
    z-index: 1;

    &:hover {
        box-shadow: none !important;
    }
}

.btn--style1 {
    padding: 12px 16px !important;
    color: color(text-white) !important;
    font-size: 19px !important;
    font-family: br !important;
    font-weight: normal !important;
    text-transform: none !important;
    border: none !important;
    border-radius: 50px !important;
    
    @include screen-lg{
        padding: 20px 22px !important;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        height: 80px;
        width: 80px;
        bottom: -30px;
        left: -30px;
        background-image: url(../images/textures/dirt-01.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.55;
        z-index: -1;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        height: 85px;
        width: 85px;
        top: -20px;
        right: -30px;
        background-image: url(../images/textures/dirt-01.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.35;
        z-index: -1;
    }
}

.btn--style2 {
    &::before {
        content: "";
        display: block;
        position: absolute;
        height: 160px;
        width: 160px;
        top: 65%;
        left: 30%;
        transform: translateY(-45%) translateX(-50%);
        background-image: url(../images/textures/dirt-02.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.55;
        z-index: -1;
    }
}

.btn--style3 {
    &::before {
        content: "";
        display: block;
        position: absolute;
        height: 160px;
        width: 160px;
        top: 65%;
        left: 50%;
        transform: translateY(-45%) translateX(-50%);
        background-image: url(../images/textures/dirt-03.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.55;
        z-index: -1;
    }
}

/* BACKGROUND MODIFIERS */

[class^="bg-"] {
    background: unset !important;
    position: relative;
    width: 100%;
}

.bg-light {
    background-color: color(background-main) !important;
}

.bg-darker {
    background-color: color(background-dark) !important;
}

.bg-wood {
    &--repeat {
        overflow: unset;
        background-image: url(../images/background-images/bckgrnd-wood-1.jpg) !important;
        background-position: center center !important;
        background-size: 400px !important;
        background-repeat: repeat repeat !important;
        z-index: 10;

        &.top-bottom {
            &::before {
                content: "";
                position: absolute;
                top: -12px;
                height: 65px;
                width: 100%;
                display: block;
                background-image: url(../images/background-images/bg-wood-top-1.png);
                background-position: 0;
                background-repeat: repeat-x;
                background-size: 300px;
                z-index: 0;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -25px;
                height: 65px;
                width: 100%;
                display: block;
                background-image: url(../images/background-images/bg-wood-top-1.png);
                background-position: top left;
                background-repeat: repeat-x;
                background-size: 300px;
                z-index: 0;
            }
        }

        &.top {
            &::before {
                content: "";
                position: absolute;
                top: -12px;
                height: 65px;
                width: 100%;
                display: block;
                background-image: url(../images/background-images/bg-wood-top-1.png);
                background-position: 0;
                background-repeat: repeat-x;
                background-size: 300px;
                z-index: 0;
            }
        }

        &.bottom {
            &::before {
                content: "";
                position: absolute;
                bottom: -12px;
                height: 65px;
                width: 100%;
                display: block;
                background-image: url(../images/background-images/bg-wood-top-1.png);
                background-position: 0;
                background-repeat: repeat-x;
                background-size: 300px;
                z-index: 0;
            }
        }
    }
}

/* BOXES */
.boxed {
    // padding: 0;
    position: relative;
    background-color: transparent !important;
    overflow: visible;

    &.boxed--paper {
        // border: 1px solid transparent;
        border-style: solid;
        border-width: 1px;
        border-color: white;
        border-image: url(../images/borders/paper-border-01.png) 100 100 round;
        border-image-width: 50px;
        border-image-outset: 15;
        box-shadow: 0 0 0 transparent;
        background-color: #e6dfd4 !important;
        filter: drop-shadow(0px 9px 0 rgba(color(primary-darker), 0.07));

        @include screen-xl{
            filter: drop-shadow(-7px 9px 0 rgba(color(primary-darker), 0.07));
        }

        &-2 {
            // border: 1px solid transparent;
            border-style: solid;
            border-width: 1px;
            border-color: white;
            border-image: url(../images/borders/paper-border-02.png) 100 100 round;
            border-image-width: 50px;
            border-image-outset: 15;
            box-shadow: 0 0 0 transparent;
            background-color: color(background-main) !important;
            filter: drop-shadow(0px 9px 0 rgba(color(primary-darker), 0.07));

            @include screen-xl{
                filter: drop-shadow(-7px 9px 0 rgba(color(primary-darker), 0.07));
            }
        }

        &::before {
            // content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            display: block;
            top: 25px;
            left: 50%;
            transform: translateX(-50%);
            background-image: url(../images/background-images/shadow-1.svg);
            background-repeat: no-repeat;
            background-position: bottom left;
            background-size: cover;
            opacity: 0.07;
            z-index: -30;

            @include screen-lg {
                left: -25px;
                transform: translateX(0);
            }
        }
    }

    &::after {
        content: "";
        width: 120px;
        height: 120px;
        position: absolute;
        bottom: -20px;
        right: -25px;
        background-image: url(../images/textures/dirt-03.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.35;
        z-index: 1;
    }
}

/* BODY */
body {
    background-color: color(background-main);
}

/*HEADER SECTION*/
.navbar {
    // padding: 10px 20px;
    z-index: 9999;
    padding-right: 0;
    padding-left: 0;

    // @include screen-lg {
    //     padding: 20px 100px;
    // }

    // @include screen-xl {
    //     padding: 20px 200px;
    // }

    &.navbar-light {
        .navbar-nav .nav-link {
            color: color(background-main);
        }
    }

    &.nav-bg {
        background-color: transparent !important;
        box-shadow: none;

        // &::after{
        //     content: "";
        //     position: absolute;
        //     height: 115px;
        //     width: 100%;
        //     top: 0;
        //     left: 0;
        //     display: block;
        //     background-image: url(../images/background-images/bckgrnd-header-01.png);
        //     background-position: bottom;
        //     background-size: cover;
        //     background-repeat: no-repeat;
        //     z-index: -1;

        //     @include screen-lg{
        //         height: 200px;
        //     }
        // }

        .navbar-brand .navbar__logo {
            display: block;
        }
    }

    > .rope-right {
        position: absolute;
        right: 0;
        bottom: -65px;
        width: 100px;
        height: 100px;

        background-image: url(../images/items/Rope-Alt-1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        z-index: -1;

        animation: swing 2s infinite;
        animation-timing-function: ease-in-out;
        transform-origin: top center;

        @include screen-lg {
            right: 65px;
            width: 145px;
            height: 145px;
            bottom: -102px;
        }

        @keyframes swing {
            0% {
                transform: skewX(0deg);
            }

            50% {
                transform: skewX(3deg);
            }

            100% {
                transform: skewX(0deg);
            }
        }
    }

    .navbar__ropes-container {
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
        z-index: 0;

        @include screen-lg {
            display: block;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: -12px;
            left: 0;
            width: 200px;
            height: 200px;

            background-image: url(../images/items/Rope-01.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            z-index: 0;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: -14px;
            right: 0;
            width: 200px;
            height: 200px;

            background-image: url(../images/items/Rope-02.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        @include screen-md {
            &::before {
                background-position: -20px;
            }

            &::after {
                background-position: 80px;
            }
        }

        @include screen-lg {
            &::before {
                background-position: -15px;
            }

            &::after {
                background-position: 70px;
            }
        }

        @include screen-hd {
            &::before {
                background-position: -12px;
            }

            &::after {
                background-position: 65px;
            }
        }
    }

    .navbar-content {
        padding: 12px 20px;
        z-index: 10;

        @include screen-lg {
            padding: 12px 160px;
            max-width: 1600px;
        }
    }

    .navbar-nav {
        align-items: center;
        
        .nav-btn{
            height: unset;
            width: unset;
            background: none;
            border-radius: unset;
            line-height: unset;
        }
    }

    .navbar-brand {
        vertical-align: middle;
        .navbar__logo {
            width: auto;
            height: auto;
            max-width: 200px;

            @include screen-lg {
                max-width: 220px;
            }

            @include screen-xl {
                max-width: 240px;
            }

            @include screen-xxl {
                max-width: 280px;
            }
        }
    }

    // Collapsed navbar
    .navbar-collapse.menu-main {
        > ul {
            background-color: transparent;

            @include screen-md {
                background-color: transparent;
            }
        }
    }
}

/* SECTION FORMATTING */
section {
    overflow: hidden;

    /* HEADINGS */

    .section-title {
        margin: 115px 0 65px 0;
        text-align: center;
        z-index: 1;

        h1 {
            z-index: 10;
            position: relative;
        }

        .header {
            z-index: 0;
        }
    }
    .header {
        width: 100%;
        height: 0;
        z-index: 0;

        &::after {
            content: "";
            position: absolute;
            top: -95px;
            left: 50%;
            transform: translateX(-50%);
            width: 220px;
            height: 220px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0.45;
        }

        &.header--dark {
            &::after {
                opacity: 0.65;
            }
        }

        &.header {
            &--style-1 {
                &::after {
                    background-image: url(../images/background-images/heading-bckgrnd-01.png);
                }
            }
            &--style-2 {
                &::after {
                    background-image: url(../images/background-images/heading-bckgrnd-02.png);
                }
            }

            &--style-3 {
                &::after {
                    background-image: url(../images/background-images/heading-bckgrnd-03.png);
                }
            }

            &--style-4 {
                &::after {
                    background-image: url(../images/background-images/heading-bckgrnd-04.png);
                }
            }
        }
    }
}

/*BANNER SECTION*/
#banner {
    background: url(../images/santarozahero.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 0;

    position: relative;

    @include screen-lg {
        height: 100vh;
    }

    .backtotop {
        .backtotop__icon {
            position: relative;
            display: block;
            width: 60px;
            height: 60px;
            background: color(primary);
            border: 1px solid color(primary);

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                width: 100%;
                height: 100%;
                max-height: 46px;
                max-width: 46px;

                background-image: url(../images/icons/compass-1.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    .text-shadow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 1px;
        height: 1px;
        box-shadow: 0 0 60px 60px rgba($color: rgb(26, 20, 20), $alpha: 0.65);
        border-radius: 100%;

        @include screen-lg {
            box-shadow: 0 0 160px 160px rgba($color: rgb(26, 20, 20), $alpha: 0.65);
        }
    }

    .banner-content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        height: 100%;
        z-index: 1;
        padding: 65px 0;

        filter: drop-shadow(0 0 50px rgba(0, 0, 0, .65));

        @include screen-lg {
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
        }

        .banner__image-holder {
            position: relative;
            height: 100%;
            min-height: 260px;
            width: 100%;
            margin-bottom: 22px;
            flex-shrink: 2;

            @include screen-lg{
                height: 300px;
                width: 300px;
            }

            &::after {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                max-height: 260px;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background-image: url(../images/brand/santa_roza_banner.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;

                @include screen-lg {
                    background-position: center;
                    max-height: unset;
                }
            }
        }

        .banner__txt {
            flex-grow: 1;
            text-align: center;

            @include screen-lg {
                // text-align: left;
                max-width: 650px;
                margin-left: 20px;
            }

            h1 {
                color: color(background-main);
            }

            h3 {
                padding-bottom: 16px;
            }

            p {
                color: color(text-white);
            }
        }
    }
}

/*BANNER 2 SECTION*/
#banner-2 {
    position: relative;
    background-color: transparent !important;
    overflow: visible;

    > .anchor-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &::after {
            content: none;
            position: absolute;
            top: -30px;
            left: -140px;
            width: 280px;
            height: 280px;
            background-image: url(../images/background-images/illustration-anchor-01.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: 20;

            @include screen-md {
                left: 0;
                content: "";
            }

            @include screen-lg {
                left: 100px;
            }

            @include screen-xxl {
                left: 360px;
            }
        }
    }

    .coun_time {
        h2 {
            color: color(primary);
        }

        p {
            color: color(text-white);
        }

        #second ~ .coming-data2 {
            // right: 65px;
        }

        #month ~ .coming-data2 {
            // right: 65px;
        }

        #hour ~ .coming-data2 {
            // right: 65px;
        }
    }

    @include screen-xl {
        .banner-2__container {
            padding: 0;
            position: relative;

            // &::after{
            //     content: "";
            //     position: absolute;
            //     right: -120px;
            //     top: -140px;
            //     width: 400px;
            //     height: 400px;
            //     display: block;

            //     background-image: url(../images/background-images/illustration-cannon-01.png);
            //     background-position: center;
            //     background-repeat: no-repeat;
            //     background-size: contain;
            // }

            .hourglass-icon {
                display: block;
                position: relative;
                padding: 25px;
                height: 120px;
                width: 120px;

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                    width: 100%;
                    height: 100%;
                    background-image: url(../images/icons/hourglass-01.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
    }

    .banner-2__aside-text {
        color: color(text-white);
        padding-top: 55px;

        @include screen-sm {
            padding-top: 12px;
        }

        @include screen-md {
            padding-top: 10px;
        }
    }
}

/* EVENTS SECTION */
#event {
    
    padding: 80px 0 0 0;

    @include screen-lg {     
        padding: 90px 0 40px 0;   
        margin-top: 140px;
    }

    .event__item{
        &:not(:first-of-type){
            margin-top: 20px;

            @include screen-lg{
                margin-top: unset;
            }
        }
    }

    .event-header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 42px 0;
        
        @include screen-lg{
            margin: 0;           
        }

        // .event-header__content{

        // }

        h3 {
            color: color(primary);
        }
        p {
            color: color(text-light);
            padding: 0 0 24px 0;
        }
    }
    .about-item {

        @include screen-lg{
            order: unset;
            padding-bottom: 90px;
        }

        h3 {
            padding-right: 40px;
            color: color(text);
        }

        @include screen-lg {
            height: 100%;

            &:first-of-type {
                margin-right: 20px;
            }

            &:last-of-type {
                margin-left: 20px;
            }
        }

        span {
            width: 60px;
            height: 60px;
            top: unset;
            bottom: 0;
            right: 8px;
            z-index: 1;

            @include screen-lg {
                width: 80px;
                height: 80px;
            }

            @include screen-xl {
                width: 100px;
                height: 100px;
            }
        }
    }
}

/* COUNTER SECTION */
#counter {
    padding: 260px 0 20px 0;
    position: relative;

    @include screen-lg {
        padding: 100px 0 60px 0;
        position: relative;

        .count-item {
            background-color: rgba($color: #fff, $alpha: 0.65);
        }
    }

    &::after {
        content: none;
        position: absolute;
        display: block;
        left: 0;
        top: -65px;
        height: 400px;
        width: 400px;
        background-image: url(../images/background-images/bg-booty-mobile.jpg);
        background-position: -150px;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: .65;
        z-index: -1;

        @include screen-md{
            background-image: url(../images/background-images/bg-booty.jpg);

        }

        @include screen-lg {
            width: 650px;
            left: -100px;
            top: 0;
        }

        @include screen-xl {
            width: 800px;
            left: -300px;
            background-position: right;
        }
    }
    
    .counter__container{
        
        @include screen-lg{
            margin-top: 180px;
        }

        @include screen-xl{
            margin-top: 60px;
        }
    }

    .counter-txt {
        h3 {
            color: color(text);
            vertical-align: middle;
        }
        p {
            color: color(text-lighter);
        }
        .icon {
            vertical-align: middle;
            height: 42px;
            width: 42px;
            display: inline-block;
            margin-right: 6px;

            @include screen-xl {
                height: 50px;
                width: 50px;

                &.ship-surrender {
                    height: 60px;
                    width: 60px;
                    margin-top: -12px;
                }
            }
        }
        span {
            vertical-align: middle;
            color: color(primary);
        }
    }
}

/* BRAND SECTION */
#brand {
    .brand__image-holder {
        width: 100%;
        height: 100%;
        overflow: hidden;

        > img {
            height: auto;
            width: 100%;
            object-fit: cover;
        }
    }
}

/* SCHEDULE AND PRICE SECTION */
#schedule-prices {
    position: relative;

    .schedule-prices__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        opacity: 0.85;
        overflow: hidden;

        @include screen-lg {
            display: block;
        }

        > .bg__ship {
            position: absolute;
            display: block;
            width: 650px;
            height: 650px;
            top: 40%;
            left: 0;
            transform: translateY(-50%);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left;
            background-image: url(../images/background-images/schedule-ship-01.png);
            z-index: 2;
        }

        > .bg__island-foreground {
            position: absolute;
            display: block;
            width: 800px;
            height: 800px;
            top: 35%;
            right: -200px;
            transform: translateY(-50%);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right;
            background-image: url(../images/background-images/schedule-island-foreground-01.png);
            z-index: 1;
        }

        > .bg__fog {
            position: absolute;
            display: block;
            width: 100%;
            height: 650px;
            top: 200px;
            left: -400px;
            background-size: auto;
            background-repeat: repeat-x;
            background-position: center;
            background-image: url(../images/background-images/schedule-fog.svg);
            z-index: 0;
            opacity: 1;
        }

        > .bg__mountains {
            position: absolute;
            display: block;
            width: 100%;
            height: 65px;
            top: 40%;
            right: 0;
            transform: translateY(-50%);
            background-size: contain;
            background-repeat: repeat-x;
            background-position: center;
            background-image: url(../images/background-images/schedule-mountains.svg);
            z-index: 0;
            opacity: 0.45;
        }
    }
}

/* SCHEDULE SECTION */
#schedule {
    padding: 0;
    background: transparent;

    .section-title{

        margin-bottom: 80px;

        @include screen-lg{
            margin-top: 110px;
            margin-bottom: 45px;
        }
    }

    .schedule__table-container {
        height: auto;

        .schedule__item {
            width: 100%;
            position: relative;
            display: block;

            @include screen-lg{
                margin-top: 40px;
            }

            .schedule__item-bckgrnd {
                position: absolute;
                @include pos-vh-center;
                width: 100%;
            }

            .schedule__item-container {
                display: flex;
                flex-direction: column;
                padding: 32px 25px 25px 25px;

                @include screen-lg {
                    flex-direction: row;
                    align-items: center;
                }

                .schedule__item-text {
                    width: 100%;
                    text-align: center;
                    color: color(text-light);

                    .schedule__item-header {
                        text-align: center;
                        margin-bottom: 20px;

                        @include screen-lg {
                            margin-bottom: 12px;
                            text-align: left;
                        }

                        .schedule__item-img {
                            height: 64px;
                            width: 64px;
                            margin: 0 auto;
                            display: inline-block;
                            vertical-align: middle;

                            background-image: url(../images/icons/icon-pirate-hat.svg);
                            @include bckgrnd-img--contain;

                            @include screen-xl {
                                height: 100px;
                                width: 100px;                                
                            }
                        }

                        h3 {
                            display: inline-block;
                            vertical-align: middle;
                            padding-top: 5px;
                            padding-left: 16px;
                            font-size: 24px;

                            @include screen-lg{
                                font-size: 24px;
                            }
                        }

                        p {
                            font-size: 18px;
                            color: color(text-lighter);
                        }
                    }

                    .schedule__timetable-row {
                        padding-top: 20px;                        
                        position: relative;
                        
                        &:not(:last-of-type){
                            padding-bottom: 20px;
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;

                            border-top: 2px solid color(graphics-light);

                            // background-image: url(../images/borders/border-zigzag-01.svg);
                            // @include bckgrnd-img--contain;
                        }

                        .schedule__timetable {
                            width: 100%;
                            list-style-type: none;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            align-items: center;
                            position: relative;

                            @include screen-lg {
                                flex-wrap: nowrap;
                            }

                            > li {
                                line-height: 32x;
                                font-size: 24px;
                                font-weight: bold;
                                color: color(primary);
                                text-align: center;
                                position: relative;
                                height: 100%;
                                width: 100%;
                                display: block;

                                @include screen-lg {
                                    &:not(.schedule__timetable-period) {
                                        &:not(:nth-of-type(2)) {
                                            border-left: 1px solid color(graphics-light);
                                        }
                                    }
                                }

                                &.schedule__timetable-period {
                                    display: inline;
                                    font-weight: bold;
                                    font-size: 16px;
                                    white-space: nowrap;
                                    padding: 16px 10px;
                                    line-height: 100%;
                                    color: color(text-light);
                                    background-color: rgba($color: color(graphics-light), $alpha: 0.25);
                                    border: unset;
                                }
                            }
                        }
                    }
                }
            }
        }

        .btn {
            display: block;
            margin: 20px auto 0;
            width: min-content;
        }

        .schedule__addendum {
            padding-top: 22px;
            text-align: center;

            ul > li {
                &::before {
                    content: "⋆";
                    font-size: 32px;
                    color: color(primary);
                    padding-right: 2px;
                }
            }
        }
    }

    .nav.nav-pills {
        .nav-link {
            position: relative;
            overflow: hidden;
            color: color(text-light);
            background-color: color(background-main);
            box-shadow: 0 0 16px 0 rgba($color: color(primary-darker), $alpha: 0.25);

            &::before {
                content: "";
                display: block;
                position: absolute;
                height: 160px;
                width: 160px;
                top: 35%;
                left: 30%;
                transform: translateY(-45%);
                background-image: url(../images/textures/dirt-03.png);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                opacity: 0.3;
                z-index: 0;
            }

            &.active {
                background-color: color(primary);
                color: color(text-white);
                position: relative;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    height: 160px;
                    width: 160px;
                    top: 65%;
                    left: 30%;
                    transform: translateY(-45%) translateX(-50%);
                    background-image: url(../images/textures/dirt-02.png);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    opacity: 0.55;
                    z-index: 0;
                }
            }
        }
    }

    .schedule-pa {
        padding-top: 25px;
    }

    .scrollarea {
        overflow: visible !important;
        cursor: default !important;
        max-height: unset;
        touch-action: auto !important;

        .schedule-item {           

            h3 {
                color: color(text);
                &::after {
                    background-color: color(primary-lighter);
                }
            }

            span {
                color: color(text-light);
            }
            .timer {
                background-color: transparent;
            }

            .se-btn {
                a {
                    background-color: color(primary);
                }
            }
        }
    }
}

/* ROUTE SECTION */
#route-section {
    padding: 60px 0;

    @include screen-lg{
        padding: 0 0 60px 0;
    }

    .route-section__heading {
        padding-bottom: 60px;
    }

    .route-section__item {
        position: relative;

        .route-section__img-container {
            order: 2;
            text-align: center;

            @include screen-lg {
                order: unset;
            }

            .route-section__img{
                max-height: 360px;

                @include screen-md{
                    max-height: 480px;
                }

                @include screen-lg{
                    max-height: 600px;
                }
            }
        }

        .route-section__text {
            order: 1;
            padding-bottom: 20px;

            @include screen-lg {
                order: unset;
                padding-bottom: initial;
            }
        }
    }

    .route-section__connection {
        position: relative;
        width: 100%;
        height: 60px;
        overflow: visible;

        @include screen-lg {
            height: 200px;
        }

        &::after {
            content: none;
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%) rotate(10deg);
            width: 100%;
            height: 100%;

            background-image: url(../images/background-images/dotted-line-01.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            @include screen-lg {
                content: "";
                height: 360px;
                transform: translateX(-50%) translateY(-50%) rotate(0);
            }

            @include screen-xl {
                height: 400px;
            }
        }

        &.alt {
            &::after {
                top: 0;
                left: 0;
                transform: scaleX(-1) rotate(20deg);

                @include screen-lg{
                    top: -40px;
                    transform: scaleX(-1) rotate(0);
                }
            }
        }
    }
}

/* PRICE SECTION */
#price {
    position: relative;
    overflow: hidden;
    background: transparent;
    padding: 0 0 65px 0;

    .section-title{
        margin-top: 145px;
        margin-bottom: 65px;

        @include screen-lg{
            margin-top: 145px;
        margin-bottom: 90px;
        }
    }

    .price-pa {
        padding: 0;
    }

    &::before {
        content: "";
        position: absolute;
        top: -50px;
        left: -100px;
        width: 100%;
        height: 100%;

        // background-image: url(../images/background-images/bckgrnd-map-sepia-01.jpg);
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.15;
        filter: grayscale(1);
    }

    .price-item {
        z-index: 1;

        .price-tag > span {
            color: color(primary);
        }

        h3 {
            color: color(text);
        }

        .gap-p {
            p,
            i {
                color: color(text-light);
            }
        }
    }

    .price-btn > a > i {
        display: inline-block;
        background-color: color(primary);
        background-size: 26px 26px;
        background-repeat: no-repeat;
        background-position: 56% 50%;
        transform: rotate(90deg);

        border-color: color(primary);
    }
}

/* ORGANIZE SECTION */
#organize {
    position: relative;
    overflow: hidden;
    background: none;

    background-image: url(../images/custom-events-01-480.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @include screen-md {
        background-image: url(../images/custom-events-01-768.jpg);
    }

    @include screen-xl {
        background-image: url(../images/custom-events-01-1024.jpg);
    }

    @include screen-xxl {
        background-image: url(../images/custom-events-01-1680.jpg);
    }

    @include screen-hd {
        background-image: url(../images/custom-events-01-1920.jpg);
    }

    &::after {
        opacity: 0.9;
        background-color: color(primary-darker);
    }

    .text-shadow {
        height: 1px;
        width: 1px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        border-radius: 100%;
        box-shadow: 0 0 160px 200px rgba($color: color(primary-darker), $alpha: 1);
        z-index: -1;
    }

    .organize-text {
        .head-span {
            color: color(primary);
            text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
        }

        h3 {
            &::after {
                background: color(primary);
                opacity: 0.35;
            }
        }

        p {
            color: color(text-white);
        }

        a {
            background-color: color(primary);
            box-shadow: 0px 4px 19px 0px color(primary);
            // box-shadow: none;
        }
    }
}

/* ORGANIZE 2 SECTION */
#organize_2 {
    .org-item {
        &::after {
            content: none;

            @include screen-lg {
                content: "";
                background: color(primary);
            }
        }
        h3,
        p {
            color: color(text-white);
        }
        i {
            background-color: color(primary);
            display: inline-block;
            background-size: 36px 36px;
            background-repeat: no-repeat;
            background-position: center;

            &.icon.fishes {
                background-position: 40% 50%;
            }
        }
    }
}

/* GALLERY SECTION */
#gallery {
    background-image: url(../images/video-bckgrnd-01.jpg);

    &::after {
        opacity: 0.65;
        background-color: color(primary-darker);
    }

    .gallery-heading {
        h3 {
            color: color(text-white);
            &::after {
                content: none;
            }
        }
    }

    .gallery-pa {
        a > i {
            background: color(primary);

            &::before {
                color: color(text-white);
            }
        }
        p {
            color: color(text-white);
        }
    }
}

/* GALLERY-2 SECTION */
#gallery_2 {
    .hover-overlay {
        background: rgba(color(primary), $alpha: 0.65);
    }
}

/* FAQ SECTION */
#faq {
    .section-title {
        margin-top: 120px;
        margin-bottom: 80px;

        @include screen-lg {
            margin-bottom: 30px;
        }
    }
    .faq__list {
        padding: 0 0 24px 0;

        @include screen-lg {
            padding: 64px 0;
        }

        .faq__list-item {
            margin: 0;
            width: 100%;
            background-color: transparent;
            border: none;

            &:not(:first-of-type) {
                margin-top: 12px;
            }

            .card-header {
                background-color: transparent;
                border: none;
                padding: 0;
                transition: all 0.2s;

                .btn.btn-primary {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    width: 100%;
                    border-radius: 4px 4px 0 0;
                    text-align: left;
                    background-color: color(graphics);
                    border: none;

                    @include hover-state--all {
                        background-color: color(primary);
                        border: none;
                        box-shadow: none !important;
                    }

                    &::after {
                        content: "";
                        width: 22px;
                        height: 22px;
                        min-width: 22px;
                        min-height: 22px;
                        background-image: url(../images/buttons/button-close.svg);
                        background-repeat: no-repeat;
                        background-position: right center;
                        background-size: contain;
                        transition: all 0.3s;
                    }

                    &.collapsed {
                        border-radius: 4px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        &::after {
                            background-image: url(../images/buttons/button-open.svg);
                            transition: all 0.3s;
                        }
                    }

                    > h3 {
                        display: block;
                        color: color(text-white);
                        font-size: 24px;
                        white-space: break-spaces;
                        padding-right: 15px;
                    }
                }
            }

            .faq__list-item-content {
                width: 100%;
                padding: 0px 30px;
                transition: all 0.2s;
                transition-delay: all 0s;
                background-color: rgba($color: color(graphics-light), $alpha: 0.3);
                font-size: 16px;

                &.collapsing {
                    transition: all 0.2s;
                    padding: 0 30px;
                }

                &.show {
                    padding: 24px 30px;
                    border-radius: 0 0 4px 4px;
                }
            }
        }
    }
}

/* ABOUT SECTIONS */
#about {
    background-color: color(background-dark);

    @include screen-lg{
        padding-bottom: 45px;
    }

    .about-img {
        position: absolute;
        top: -75px;
        left: 50%;
        height: 420px;
        opacity: .40;

        @include screen-lg{
            position: relative;
            height: 100%;
            top: unset;
            left: unset;
            opacity: 1;

        }

        .main-img {
            height: 100%;
            display: block;
            width: 100%;
            text-align: center;
            padding-bottom: 20px;          

            @include screen-xl {   
                padding-bottom: 0;
            }

            > img {
                object-fit: contain;
                object-position: 50% 50%;
                height: 100%;
            }
        }
    }

    .about-txt {
        h3,
        span {
            color: color(primary);
        }

        h4 {
            color: color(text);
        }
        p {
            color: color(text-light);
            padding-bottom: 30px;

            @include screen-lg {
                padding-bottom: 40px;
            }
        }

        a {
            background: color(primary);
            display: block;
            margin: 0 auto;
            width: max-content;
            font-size: 19px;
            font-weight: normal;
            text-transform: none;
            font-family: br;
        }

        .about-s {
            padding-top: 30px;

            @include screen-lg {
                padding-bottom: 0;
            }
        }
    }
}

/* REGISTER SECTION */
#register {

    @include screen-lg{
        padding-top: 40px;
    }

    .register-pa{
        @include screen-lg{
            padding-top: 20px;
        }
    }

    .register-box {
        padding: 6px;

        @include screen-lg {
            padding: 35px;
        }

        .r-b-color {
            background-image: url(../images/kassza-480x.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            @include screen-md {
                background-image: url(../images/kassza-640x.jpg);
            }
        }
        .purchase-box {
            h4,
            h5 {
                color: color(primary);
            }

            button.btn.btn-primary {
                background: color(primary);
                border: 1px solid color(primary);

                &:hover {
                    box-shadow: 0px 4px 19px 0px color(primary);
                }
            }
        }
    }
}

/* FOOTER SECTION */
#footer {
    padding: 36px 0;
    position: relative;
    background-color: transparent;

    .copy-right-txt {
        p {
            color: color(primary);
        }
    }

    .footer__container {
        .footer__item {
            &:not(:first-of-type) {
                padding-top: 24px;

                @include screen-lg {
                    padding-top: 0;
                }
            }
        }

        .footer__logo-container {
            text-align: center;
            align-self: center;

            @include screen-lg {
                text-align: left;
            }

            .footer__logo {
                width: 100%;
                height: auto;
                max-width: 200px;
            }
        }

        .menu-a {
            text-align: center;
            a {
                color: color(background-main);
            }

            @include screen-lg {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: left;
            }
        }

        .footer__map-container {
            width: 100%;
        }
    }

    // &::before{
    //     content:"";
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;

    //     background-image: url(../images/background-images/bckgrnd-wood-01.png);
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     background-position: bottom;
    // }
}

.venobox.vbox-item > i::before {
    padding-left: 3px;
}

.timer-main img {
    width: 130px;
    height: 130px;
}
