@import "colors";
@import "mediaqueries";

/* TEXT */

h1,
h2,
h3 {
    font-family: "Bangers", cursive !important;
    letter-spacing: 2px;
}

.banner-txt h1 {
    letter-spacing: 4px;
}

/* ICONS */
.icon{
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;

    &.pirate-kid{
        background-image: url(../images/icons/icon-baby.png);
        // background-image: url(../images/icons/pirate-kid-2.svg);                
    }

    &.treasure-chest{
        background-image: url(../images/icons/chest.png); 
        // background-image: url(../images/icons/treasure-chest-1.svg);        
    }

    &.steering-wheel{
        background-image: url(../images/icons/steering-wheel-1.svg); 
    }

    &.pirate-ship{
        background-image: url(../images/icons/pirate-ship-1.svg); 
    }

    &.coin{
        background-image: url(../images/icons/coin-1.svg); 
    }

    &.pirate-hook{
        background-image: url(../images/icons/pirate-hook-1.svg); 
    }

    &.pirate-hook-2{
        background-image: url(../images/icons/pirate-hook-2.svg); 
    }

    &.map{
        background-image: url(../images/icons/map-1.svg); 
    }

    &.swords{
        background-image: url(../images/icons/swords-1.svg); 
    }

    &.compass{
        background-image: url(../images/icons/compass-1.svg); 
    }
}

/* BACKGROUND MODIFIERS */
    

/*HEADER SECTION*/
.navbar {
    &.nav-bg {
        background-color: transparent !important;
        box-shadow: none;

        &::after{
            content: "";
            position: absolute;
            height: 125px;
            width: 100%;
            top: 0;
            left: 0;
            display: block;
            background-image: url(../images/background-images/bckgrnd-header-01.png);
            background-position: bottom;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: -1;

            @include screen-lg{
                height: 180px;
            }
        }

        .navbar-brand .navbar__logo {
            display: block;
        }
    }

    .navbar-brand {
        vertical-align: middle;
        .navbar__logo {
            width: auto;
            height: 46px;
            max-width: 300px;
        }
    }

    // Collapsed navbar
    .navbar-collapse.menu-main {
        > ul {
            background-color: color(primary-dark);
            @include screen-md {
                background-color: transparent;
            }
        }
    }
}

/*BANNER SECTION*/
#banner {
    background: url(../images/santarozahero.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    @include screen-lg{
        height: 100vh;
    }

    .banner__container{
        height: 100%;       
    }

    .backtotop{
        .backtotop__icon{
            position: relative;
            display: block;
            width: 60px;
            height: 60px;

            &::after{
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                width: 100%;
                height: 100%;
                max-height: 46px;
                max-width: 46px;

                background-image: url(../images/icons/compass-1.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    .banner__image-wrapper {
        @include screen-lg {
            margin-right: 42px;
        }

        .banner__image-holder {
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 320px;

            &::after {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                max-height: 320px;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background-image: url(../images/brand/logo_white.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;

                @include screen-lg {
                    background-position: left;
                }
            }
        }
    }

    .banner-txt {
        text-align: center;

        @include screen-lg {
            text-align: left;
        }

        h3 {
            padding-bottom: 16px;
        }
    }
}

/*BANNER 2 SECTION*/
#banner-2 {
    position: relative;
    background-color: white !important;

   &::before{
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 32px;
       background-image: url(../images/background-images/bckgrnd-paper-01.png);
       background-position: top;
       background-repeat: no-repeat;
       background-size: cover;
       top: -32px;

       @include screen-lg{
           height: 65px;
           top: -63px;
       }
   }

    .hourglass-icon {
        display: none;
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        height: 36px;
        width: 36px;
    }

    @include screen-xl {
        .hourglass-icon {
            display: block;

            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
                width: 55px;
                height: 55px;
                background-color: color(primary);
                opacity: .05;
                border-radius: 100%;
            }

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
                width: 100%;
                height: 100%;
                background-image: url(../images/icons/hourglass-1.svg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        .coun_time {

            h2{ color: color(primary); }

            p{ color: color(primary-dark) }

            #second ~ .coming-data2 {
                // right: 65px;
            }

            #month ~ .coming-data2 {
                // right: 65px;
            }

            #hour ~ .coming-data2 {
                // right: 65px;
            }
        }
    }

    .banner-2__aside-text {
        color: color(primary-dark);
        padding-top: 55px;

        @include screen-sm {
            padding-top: 12px;
        }

        @include screen-md {
            padding-top: 0;
        }
    }
}

/* EVENTS SECTION */
#event{
    .about-item{
        overflow: hidden;
        span{
            width: 70px;
            height: 70px;
            top: 10px;
            right: 8px;
        }
    }
}

/* BRAND SECTION */
#brand{
        .brand__image-holder{
            width: 100%;
            height: 100%;
            overflow: hidden;
    
            >img{
                height: auto;
                width: 100%;
                object-fit: cover;
            }
        } 
}

/* SCHEDULE SECTION */
#schedule {

    .scrollarea{
        overflow: visible !important;
        cursor: default !important;
        max-height: unset;
        touch-action: auto !important;

        .schedule-item {
            h3 {
                &::after {
                    background-color: color(primary);
                    opacity: 0.3;
                }
            }
            .timer {
                background-color: transparent;
            }
        }
    }
    
    
}

/* ABOUT SECTIONS */
#about {   

    .about-img {
        height: 100%;

        .main-img {
            height: 100%;
            display: block;

            > img {
                object-fit: cover;
                object-position: center;
                height: 100%;
            }
        }
    }
}

/* COUNTER SECTION */
#counter {
    padding: 100px 0 0px 0;

    @include screen-lg {
        padding: 100px 0 65px 0;
        position: relative;

        &::after{
            content: "";
            position: absolute;
            display: block;
            left: 0;
            top: 0;
            height: 100%;
            width: 500px;
            background-image: url(../images/background-images/illustration-bckgrnd-01.png);
            background-position: right;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
            opacity: .4;
        }

        .count-item{
            background-color: rgba($color: #FFF, $alpha: .65);
        }
    }

    .counter-txt{
        .icon{
            height: 36px;
            width: 36px;
            display: inline-block;
            margin-right: 6px;
        }
    }
}

/* ROUTE SECTION */
#route-section{
    padding: 90px 0;
}

/* ORGANIZE SECTION */
#organize{
    background-image: url(../images/custom-events-01-480.jpg);

    @include screen-md{
        background-image: url(../images/custom-events-01-768.jpg);
    }

    @include screen-xl{
        background-image: url(../images/custom-events-01-1024.jpg);
    }

    @include screen-xxl{
        background-image: url(../images/custom-events-01-1680.jpg);
    }

    @include screen-hd{
        background-image: url(../images/custom-events-01-1920.jpg);
    }

    &::after{
        opacity: .9;
        background-color: color(primary-dark);
    }
}

/* PRICE SECTION */
#price{
    position: relative;
    overflow: hidden;

    &::before{
        content:"";
        position: absolute;
        top: -50px;
        left: -100px;
        width: 100%;
        height: 100%;

        background-image: url(../images/background-images/bckgrnd-map-sepia-01.jpg);
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: .15;
        filter: grayscale(1);
    }
}

/* GALLERY SECTION */
#gallery {
    background-image: url(../images/video-bckgrnd-01.jpg);

    &::after {
        opacity: 0.65;
        background-color: color(primary-dark);
    }

    .gallery-heading {
        h3::after {
            content: none;
        }
    }
}

/* FOOTER SECTION */
#footer {
    padding: 36px 0;

    .footer__logo {
        width: 100%;
        height: auto;
        max-width: 250px;
    }
}

.venobox.vbox-item > i::before {
    padding-left: 3px;
}

.timer-main img {
    width: 130px;
    height: 130px;
}
